.nav-bar{
    display: flex;
    justify-content: space-around;
    background: blue;
    width: 100%;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
}
#search-button{
    border-radius: 50%;
    background-color: cadetblue;
}